# Apps Submodules
[submodule "apps/gcemail"]
	path = apps/gcemail
	url = git@github.com:GetCommunity/gcemail.git
[submodule "apps/gcui-docs"]
	path = apps/gcui-docs
	url = git@github.com:GetCommunity/gcui-docs.git
[submodule "apps/gcembed-solidjs"]
	path = apps/gcembed-solidjs
	url = git@github.com:joeygrable94/gcembed-solidjs.git
[submodule "apps/gcapi-frontend"]
	path = apps/gcapi-frontend
	url = https://github.com/joeygrable94/gcapi-frontend/
	branch = dev
# Packages Submodules
[submodule "packages/client-styleguides"]
	path = packages/client-styleguides
	url = git@github.com:GetCommunity/client-styleguides.git
[submodule "packages/config-typescript"]
	path = packages/config-typescript
	url = git@github.com:GetCommunity/config-typescript.git
[submodule "packages/config-eslint"]
	path = packages/config-eslint
	url = git@github.com:GetCommunity/config-eslint.git
[submodule "packages/config-prettier"]
	path = packages/config-prettier
	url = git@github.com:GetCommunity/config-prettier.git
[submodule "packages/email-builder"]
	path = packages/email-builder
	url = git@github.com:GetCommunity/email-builder.git
[submodule "packages/gcui"]
	path = packages/gcui
	url = git@github.com:GetCommunity/gcui.git
[submodule "packages/gcui-tailwind"]
	path = packages/gcui-tailwind
	url = git@github.com:GetCommunity/gcui-tailwind.git
# Documentation
[submodule "docs"]
	path = docs
	url = git@github.com:GetCommunity/docs.git