# Documentation
[submodule "docs"]
	path = docs
	url = git@github.com:GetCommunity/docs.git
# Apps Submodules
[submodule "apps/gcemail"]
	path = apps/gcemail
	url = git@github.com:GetCommunity/gcemail.git
[submodule "apps/gc-cf-www-ssr"]
	path = apps/gc-cf-www-ssr
	url = git@github.com:GetCommunity/gc-cf-www-ssr.git
[submodule "apps/gc-strapi"]
	path = apps/gc-strapi
	url = git@github.com:GetCommunity/gc-strapi.git
# Packages Submodules
[submodule "packages/client-styleguides"]
	path = packages/client-styleguides
	url = git@github.com:GetCommunity/client-styleguides.git
[submodule "packages/config-typescript"]
	path = packages/config-typescript
	url = git@github.com:GetCommunity/config-typescript.git
[submodule "packages/config-eslint"]
	path = packages/config-eslint
	url = git@github.com:GetCommunity/config-eslint.git
[submodule "packages/config-prettier"]
	path = packages/config-prettier
	url = git@github.com:GetCommunity/config-prettier.git
[submodule "packages/email-builder"]
	path = packages/email-builder
	url = git@github.com:GetCommunity/email-builder.git
[submodule "packages/gc-validators"]
	path = packages/gc-validators
	url = git@github.com:GetCommunity/gc-validators.git
