# src/
node_modules/
dev/
postcss.config.*
tailwind.config.*
tsconfig.json
vite.config.*
.prettierrc
.prettierrc.*
.git
.github
apps/gcembed-solidjs
apps/gc-cf-solid
apps/gc-cf-www
apps/gc-cf-www-ssr
apps/gcui-docs
apps/gc-strapi